API_ID=35192591
API_HASH=cda4cbf2546abef20d221c17bbafb992

BOT_TOKEN=8637030327:AAEgInp2U9ggleozdbGJ_jZieWj2jAtMK3o

GEMINI_API_KEY=AQ.Ab8RN6KOxl1Bq0PrJUYYfA6UZVHWgVSOAPdF0Xas4EKdfxqBKA

ACTIVEPIECES_WEBHOOK=https://cloud.activepieces.com/api/v1/webhooks/amuedzzttLQHJJpagNyA3

CHANNEL_USERNAME=@dealsbylootify
